.postDetail {
  h1,
  h2,
  h3 {
    font-weight: 700;
    padding: 20px 0;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    padding-top: 16px;
    padding-bottom: 24px;
    line-height: 28px;
    word-break: keep-all;
  }

  ul,
  ol {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  li {
    line-height: 28px;
    list-style-type: disc;
    margin-left: 22px;
  }

  a {
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
    @apply text-blue-600;
  }

  a:hover {
    @apply text-blue-800;
    text-decoration: underline;
  }

  code:not(pre code) {
    @apply bg-gray-100;
    padding: 4px 8px;
    border-radius: 6px;
    margin: 0 3px;
    transition: 0.3s;
  }
  code:not(pre code):hover {
    @apply shadow-lg;
  }

  pre {
    border-radius: 8px;
  }

  @media only screen and (max-width: 800px) {
    h1,
    h2,
    h3 {
      font-weight: 700;
      padding: 10px 0;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 16px;
    }

    h3 {
      font-size: 14px;
    }

    p {
      padding-top: 8px;
      padding-bottom: 12px;
      line-height: 20px;
      font-size: 12px;
      word-break: keep-all;
    }

    ul,
    ol {
      //   padding-top: 8px;
      //   padding-bottom: 12px;
      line-height: 20px;
      font-size: 12px;
    }

    li {
      line-height: 28px;
      list-style-type: disc;
      margin-left: 22px;
    }

    a {
      display: inline-flex;
      align-items: center;
      transition: 0.3s;
      @apply text-blue-600;
    }

    a:hover {
      @apply text-blue-800;
      text-decoration: underline;
    }

    // `으로 감싸진 코드 블록
    code:not(pre code) {
      @apply bg-gray-100;
      padding: 4px 8px;
      border-radius: 6px;
      margin: 0 3px;
      transition: 0.3s;
    }

    code:not(pre code):hover {
      @apply shadow-lg;
    }

    // ```로 감싸진 코드 블록
    pre {
      padding: 16px 12px !important;
      font-size: 12px;
    }

    .copyBtn {
      display: none;
    }
  }
}
